{% extends "base.html" %}
{% block body %}    



<div class="container-fluid"> 
 <div class="row-fluid"> 
<div class="panel panel-primary">
   <div class="panel-heading">
      <h3 class="panel-title">配置文件路劲:  {{config_file.get_vhost()}}</h3>
   </div>
   <div class="panel-body">
    {% for i in config_file.get_conf() %}
     <div class="col-md-3">
      <div class="text-danger">
                <strong><div>{{i}}</div></strong>
      </div>
 <img src="/static/img/server/server.png" class="img-rounded" />
  <div class="btn-group">
  <button type="button" class="btn btn-primary" id="v_edit">编辑</button>
  <button type="button" class="btn btn-success" id="v_test">语法检查</button>
  <button type="button" class="btn btn-danger"  id="v_reload">reload</button>
</div>

      <select class="form-control" id="select">
	{% for vhost in user_func(i)%}
         <option>{{vhost}}</option>
	{% end %}
      </select>

     </div>
    {% end %}

   </div>
</div>


 </div> 
</div> 


<div class="container-fluid"> 
 <div class="row-fluid"> 
<div class="panel panel-warning">
   <div class="panel-heading">
      <h3 class="panel-title"><div id="vhost_text" >IP地址加配置文件名字</div></h3>
   </div>
   <div class="panel-body">
     <div class="col-md-12">
<form role="form">
  <div class="form-group">
    <label for="name">内容</label>
    <textarea class="form-control" rows="30" id="vhost_comment"></textarea>
  </div>
</form>
<button type="button" class="btn btn-primary btn-lg btn-block" id="comment_post">提交</button>

 </div> 
 </div> 
 </div> 
 </div> 
</div> 

{% end %}
